/* Header */
.name {
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 29px;
  font-weight: normal;
}

.contact {
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 17px;
}

.contact a {
  text-decoration: underline;
}

/* Section titles */
.section-title {
  font-family: "Times New Roman", serif;
  font-size: 13px;
  font-weight: bold;
}

/* Section content */
.section-content {
  font-family: "Times New Roman", serif;
  font-size: 13px;
}

/* Italics for roles */
em {
  font-style: italic;
}

/* Date span */
.date {
  float: right;
}

/* HR lines under sections only */
.section hr {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 10px;
}
